/* Tags */
/* --------------------------------------------------------------- */
:root {
  --text-color: white;
  --link-color: white;
  --link-hover-color: black;

  /* Background gradient colors
  ** Thanks: http://uigradients.com/#BetweenNightandDay
  */
  --bg-dark: #2c3e50;
  --bg-light: #3498db;
  --bg-fallback: #0072ff; /* http://uigradients.com/#FacebookMessenger */
}

body {
  font-size: 62.5%;
  font-family: Montserrat, Helvetica, sans-serif;
  color: var(--text-color);

  /* Background gradient hackary to support all the browsers! */
  /* For browsers that don't support gradients */
  background: var(--bg-fallback);
  /* Safari 5.1-6.0 */
  background: -webkit-radial-gradient(var(--bg-light) 5%, var(--bg-dark));
  /* For Opera 11.6-12.0 */
  background: -o-radial-gradient(var(--bg-light) 5%, var(--bg-dark));
  /* For Firefox 3.6-15 */
  background: -moz-radial-gradient(var(--bg-light) 5%, var(--bg-dark));
  /* Standard syntax */
  background: radial-gradient(circle, var(--bg-light) 5%, var(--bg-dark));
}

a {
  text-decoration: none;
  color: var(--link-color);
  &:visited {
    color: var(--link-color);
  }
  &:hover {
    color: var(--link-hover-color);
  }
}

a:hover {
  color: var(--link-hover-color);
}

/* Shared */
/* --------------------------------------------------------------- */
.container {
  width: 90%;
  height: auto;
  margin: 5% auto;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.avatar {
  background-image: url(./headshot.jpg);
  background-position-y: 20%;
  background-size: 105%;
  border-radius: 125px;
  border-style: solid;
  border-width: thin;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
}

/* Phone */
@media screen and (max-width: 480px) {
  .avatar {
    width: 150px;
    height: 150px;
  }
}

/* Tablet / Desktop */
@media screen and (min-width: 481px) {
  .avatar {
    width: 250px;
    height: 250px;
  }
  .avatar:hover {
    box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
}

.title {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.1;
  color: inherit;
  margin-top: 30px;
}

.subtitle {
  font-size: 1.25rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Home Page */
/* --------------------------------------------------------------- */

.principles li {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
}

.about {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.1;
  color: inherit;
  margin-top: 30px;
  margin-bottom: 30px;
}

.icon {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 2rem;
}

.page-icon {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 2rem;
}

.page-icon:hover {
  cursor: pointer;
  color: var(--link-hover-color);
}

/* Tool-top persists when going backwards on mobile devices, so let's hide it */
@media (max-width: 800px) {
  .__react_component_tooltip.show {
    display: none;
  }
}

/* Books Page */
/* --------------------------------------------------------------- */
.books ul {
  padding: 0;
}
.books li {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.books h3 {
  font-size: 2rem;
}
